.topBox{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
}

.topText{
    margin-top: 5px; 
}

.deciderBox{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    height: 60px;
}

.confirmText{
    text-align: left;
}


.serachBar{
    position: relative;
    top: 10px;
    left: 30px;;
    margin: 0;
    width: 50%;
}

.exportButton{
    position: absolute;
    width: 100%;
    right: 20px;
    font-size: 20px;
}

.listBox{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
}

.orderForm{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25%;
}

.cartTable{
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: 'Trebuchet MS', Tahoma, Arial;
}

.orderCartTable{
    background-color: rgb(80, 79, 79);
    color: white;
}